<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>main</key>
<array>
	<dict>
		<key>product_id</key>
		<string>com.viktorgulin.pokemaps.1month</string>
		<key>title</key>
		<string>FREE!</string>
		<key>divide_value</key>
		<integer>100000</integer>
		<key>badge</key>
		<string>TRY IT FOR FREE!</string>
	</dict>
</array>
<key>alternative</key>
<array>
	<dict>
		<key>product_id</key>
		<string>com.viktorgulin.pokemaps.alternative.1month</string>
		<key>title</key>
		<string>FREE!</string>
		<key>divide_value</key>
		<integer>100000</integer>
		<key>badge</key>
		<string>TRY IT FOR FREE!</string>
	</dict>
</array>
<key>default_tarifs</key>
<string>main</string>
<key>alternative_delay_time</key>
<integer>1800</integer>
<key>discount_value</key>
<integer>50</integer>
<key>localize</key>
<true/>
</dict>
</plist>
