<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walkthrough</key>
	<array>
		<dict>
			<key>title</key>
			<string>Tips and Tutorials</string>
			<key>videos</key>
			<array>
				<dict>
					<key>id</key>
					<string>6-4byf6TKv4</string>
					<key>title</key>
					<string>Pokemon Go Tips - Leveling Up Pokemon &amp; Evolution Explained</string>
				</dict>
				<dict>
					<key>id</key>
					<string>q8eNI3JN24k</string>
                    <key>title</key>
                    <string>The Complete Beginners Guide To Pokemon Go (Everything To Know)</string>
				</dict>
				<dict>
					<key>id</key>
					<string>GY1ShI8g8M0</string>
                    <key>title</key>
                    <string>Top 5 Pokemon Go Tips And Tricks Tutorial ( Guide )</string>
				</dict>
				<dict>
					<key>id</key>
					<string>qlCr6MGCEeI</string>
                    <key>title</key>
                    <string>Pokemon GO Tips - How To Capture Pokemon Easier</string>
				</dict>
				<dict>
					<key>id</key>
					<string>rzrALt3PRvg</string>
                    <key>title</key>
                    <string>Pokemon Go Tips - Best Way To Use Incense Rare Pokemon</string>
				</dict>
				<dict>
					<key>id</key>
					<string>jAFyAZ41ABo</string>
                    <key>title</key>
                    <string>Pokemon Go Tips - Lure Module Best Way To Get Pokemon</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Zviw3yH0bLs</string>
                    <key>title</key>
                    <string>Pokemon Go Tips - How To Get Free PokeCoins</string>
				</dict>
				<dict>
					<key>id</key>
					<string>dw7SzkKbJBY</string>
                    <key>title</key>
                    <string>Pokemon Go Tips - How To Level Up Fast</string>
				</dict>
				<dict>
					<key>id</key>
					<string>JmifFTJISsc</string>
                    <key>title</key>
                    <string>Pokemon Go Tips - Preparing for Gym Battles</string>
				</dict>
				<dict>
					<key>id</key>
					<string>ICV8kzfdAtM</string>
                    <key>title</key>
                    <string>Pokemon Go Update Is Out 1.01</string>
				</dict>
				<dict>
					<key>id</key>
					<string>4fOGiNt4ezU</string>
                    <key>title</key>
                    <string>Pokemon Go Tips - All Egg Pokemon Revealed</string>
				</dict>
				<dict>
					<key>id</key>
					<string>oBttqPgeDK0</string>
                    <key>title</key>
                    <string>Pokemon Go Tips - How To Track Nearby Pokemon</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Detailed Walkthrough</string>
			<key>videos</key>
			<array>
				<dict>
					<key>id</key>
					<string>aByfSY3iFh8</string>
                    <key>title</key>
                    <string>Pokemon GO Part 1 - I Choose You! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>3kVy5KYfHTs</string>
                    <key>title</key>
                    <string>Pokemon GO Part 2 - A Rare Pokemon?! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>1iuoxJtEHAs</string>
                    <key>title</key>
                    <string>Pokemon GO Part 3 - GYMS And TEAMS! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>enC7Ci-DsOc</string>
                    <key>title</key>
                    <string>Pokemon GO Part 4 - CONQUERING GYMS! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>-xcYt3OWr5Q</string>
                    <key>title</key>
                    <string>Pokemon GO How to Record Gameplay And Audio Tutorial ( Android )</string>
				</dict>
				<dict>
					<key>id</key>
					<string>apKB4FXQUmw</string>
                    <key>title</key>
                    <string>Pokemon GO Part 5 - EGG HATCHING, EVOLVING, CATCHING! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>q9tf9ltEOa0</string>
                    <key>title</key>
                    <string>Pokemon GO Part 6 - RECLAIMING MY GYMS!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>uorSEzGHA_Y</string>
                    <key>title</key>
                    <string>Pokemon GO Part 7 - Hatching And Catching!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Y7KQuRY5Sgo</string>
                    <key>title</key>
                    <string>Pokemon GO Part 8 - EASY EXP FAST!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>3Gmb87YdKeg</string>
                    <key>title</key>
                    <string>Pokemon GO Part 9 - CRITICALLY LOW!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>opKwzu9jqdA</string>
                    <key>title</key>
                    <string>Pokemon GO Part 10 - MY BEST EGG!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>KXpAGKzvoZQ</string>
                    <key>title</key>
                    <string>Pokemon GO Part 11 - ALL THE GYM FIGHTS!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>7uaMLSugRO0</string>
                    <key>title</key>
                    <string>Pokemon GO Part 12 - EVOLVING And HATCHING And EEVEELUTION!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>B37Na2oiTnA</string>
                    <key>title</key>
                    <string>Pokemon GO Part 13 - I SUCK AT TRACKING!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>2l_r7J4OB04</string>
                    <key>title</key>
                    <string>Pokemon GO Part 14 - Number 1 Gym And BAD EGGS!! Gameplay Walkthrough</string>
				</dict>
				<dict>
					<key>id</key>
					<string>T0SCa1abJps</string>
                    <key>title</key>
                    <string>Pokemon GO Part 15 SHADOW REALM! Gameplay Walkthrough</string>
				</dict>
			</array>
		</dict>
        <dict>
            <key>title</key>
            <string>Basics</string>
            <key>videos</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>uqLITB4T6j4</string>
                    <key>title</key>
                    <string>Pokemon GO: The Best Tips For Catching Wild Pokemon! | Pokémon GO Gameplay</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>eo2FJQO9S2E</string>
                    <key>title</key>
                    <string>Pokemon GO: How Do Eggs Work? | Pokémon GO Gameplay</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>7Y1VGR8EvDg</string>
                    <key>title</key>
                    <string>Pokemon GO: How Do Battles Work? | Pokémon GO Gameplay</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>7i6lUb0pXIw</string>
                    <key>title</key>
                    <string>Pokemon GO - Top 5 Tips For New Trainers!</string>
                </dict>
            </array>
        </dict>
	</array>
	<key>videos</key>
	<array>
		<dict>
			<key>title</key>
			<string>By MoreAliA</string>
			<key>videos</key>
			<array>
				<dict>
					<key>id</key>
					<string>F9u81_vytOI</string>
                    <key>title</key>
                    <string>Pokemon GO Episode #1 - CATCHING POKEMON!</string>
				</dict>
                <dict>
                    <key>id</key>
                    <string>nYMCJfAw1fk</string>
                    <key>title</key>
                    <string>Pokemon GO Gameplay - GYM BATTLES And HOW TO EVOLVE!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>AbJA2DnzS0U</string>
                    <key>title</key>
                    <string>Pokemon GO Gameplay - EGG HATCHING And GYARADOS HUNT!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>A9lgT7xE-dw</string>
                    <key>title</key>
                    <string>EPIC POKEMON CAPTURE! - Pokemon GO Gameplay!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>mhnuES3Zgr4</string>
                    <key>title</key>
                    <string>HOW TO START POKEMON GO WITH PIKACHU! (This is EPIC)</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>abDC3X8xqiY</string>
                    <key>title</key>
                    <string>Pokemon GO Gameplay - EASY XP TRICK + EPIC NEW POKEMON!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>dXZcmTh_xGY</string>
                    <key>title</key>
                    <string>EPIC POKEMON GO RAGE!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>gsRDa84I8Wk</string>
                    <key>title</key>
                    <string>Pokemon GO - HOW TO GET EPIC EGG POKEMON</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>G6zdjv0vzgE</string>
                    <key>title</key>
                    <string>Pokemon GO in London! - NEW POKEMON + EPIC GYM BATTLES!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>9TAnPEruu9Y</string>
                    <key>title</key>
                    <string>Pokemon GO - MUM PLAYS POKEMON + UNLIMITED EGG HATCHING!</string>
                </dict>
			</array>
		</dict>
        <dict>
            <key>title</key>
            <string>MasterOv Slither.io Fun Videos</string>
            <key>videos</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>h5qr7AmDgHM</string>
                    <key>title</key>
                    <string>FIRST GYM BATTLES! - Pokemon GO App - POKEMON IN REAL LIFE! (Pokemon Go Gameplay Walkthrough Part 1)</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>IW9QFl8acpQ</string>
                    <key>title</key>
                    <string>CHEEKY POKEMON CAPTURE! - Pokemon GO App - SECRET POKEMON GO TRICKS!! (Pokemon Go Gameplay Part 2</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>_jSQkacNbJE</string>
                    <key>title</key>
                    <string>HOW TO GET PIKACHU STARTER POKEMON! - Pokemon Go - HIDDEN POKEMON GO EASTER EGG!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>zrCLVLs1oPY</string>
                    <key>title</key>
                    <string>MY HIGHEST CP POKEMON! - Pokemon Go App - I BEAT THE GYM LEADER! (Pokemon Go Gameplay Part 3)</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>JSBCKHKBiZ0</string>
                    <key>title</key>
                    <string>Pokemon GO | HOW TO MAKE YOUR GGYM STRONG!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>dRCgM28yX_k</string>
                    <key>title</key>
                    <string>POKEMON GO SURPRISE EGG OPENING! - Pokemon GO - Super Rare Pokemon And Great Ball Catching!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>1tDlS2v0YgQ</string>
                    <key>title</key>
                    <string>Pokemon GO | HOW TO GET A ULTRA BALL And LEVEL 20!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>X88zr_s1VNY</string>
                    <key>title</key>
                    <string>Pokemon GO | WE FOUND BLASTOISE!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>vVwmnavS0cU</string>
                    <key>title</key>
                    <string>Pokemon GO | SUPER RARE POKEMON And BEATING EVERY GYM!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>mCuzAz0kikI</string>
                    <key>title</key>
                    <string>Pokemon GO | WORLDS BIGGEST POKEMON GO EVOLUTION SPREE! 125,000 XP LEVEL UP!</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>News and Updates</string>
            <key>videos</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>x_1oSz5GRwI</string>
                    <key>title</key>
                    <string>Pokemon GO Is ALIVE - Ep. 1</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>0bhzouGWx_Y</string>
                    <key>title</key>
                    <string>Pokemon GO Adventures - There are Pokemon In My Cheese Curds - Ep. 2</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>jLx7G6f0VbM</string>
                    <key>title</key>
                    <string>Pokemon GO - The Walmart Region - Ep.  3</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>GmBbt925v0g</string>
                    <key>title</key>
                    <string>Pokemon GO - The BEST Pokestop - Ep  4</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>4yNjd2t7-H0</string>
                    <key>title</key>
                    <string>Pokemon GO - Too Much POOP - Ep.  5</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>YNEU4wE9o8g</string>
                    <key>title</key>
                    <string>Pokemon GO - My Wife Catches Her First Pokemon EVER - Ep.  6</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>JE7s0olqK4g</string>
                    <key>title</key>
                    <string>Pokemon GO - Choosing A Team + Pokemon Go Glitches - Ep.  7</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>Music and Soundtracks</string>
            <key>videos</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>GZIURX-TB7I</string>
                    <key>title</key>
                    <string>Pokémon Capturado - Pokémon GO OST</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>qgrzU2ggbZ4</string>
                    <key>title</key>
                    <string>Batalla! - Pokémon GO OST</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>rfwEvyuMI_s</string>
                    <key>title</key>
                    <string>Evolución - Pokémon GO OST</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>bY7w6yD5buQ</string>
                    <key>title</key>
                    <string>Profesor - Pokémon GO OST</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>tQo44bjQCKY</string>
                    <key>title</key>
                    <string>Caminando (Mapa) - Pokémon GO OST</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>POKEMON GO GUIDE HOW TO DESTROY YOUR SUMMER</string>
            <key>videos</key>
            <array>
                <dict>
                    <key>id</key>
                    <string>yWegwTO2plk</string>
                    <key>title</key>
                    <string>How to Play Pokémon Go - Tips And Tricks (Guide)</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>F6XGa2cF1Co</string>
                    <key>title</key>
                    <string>Pokemon Go!! EP.2</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>Oty2Lh9alsU</string>
                    <key>title</key>
                    <string>CAPTURANDO POKEMONS EN LA VIDA REAL !! - Pokemon GO | Fernanfloo</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>77LKBT-ylxE</string>
                    <key>title</key>
                    <string>POKEMON GO BIKE ADVENTURE!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>ATYXYBLD5uI</string>
                    <key>title</key>
                    <string>POKEMON GO | GOING TOO FAR?</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>M_D6AmSX9h4</string>
                    <key>title</key>
                    <string>Pokémon GO: FAVIJ ALLA RICERCA!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>C5W6hximclY</string>
                    <key>title</key>
                    <string>CAPTURANDO POKEMON DE NOCHE! Pokemon GO - Luh</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>aCCBxNs-lLQ</string>
                    <key>title</key>
                    <string>POKEMON GO CATCHING DRATINI FINALLY!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>uDmbrXmz5R0</string>
                    <key>title</key>
                    <string>Decoding Fear Gaming Outlast Mission 4 ✔</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>TSnplfcv1Ac</string>
                    <key>title</key>
                    <string>CAPTURANDO POKEMONS EN LA VIDA REAL (POKÉMON GO) - TheGrefg</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>-QeZlchsFCI</string>
                    <key>title</key>
                    <string>Pokemon GO Guide How To Destroy Your Summer</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>v8f5BhZEBTA</string>
                    <key>title</key>
                    <string>POKEMON GO or Pokémon NO ?</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>3iN27_2UcD4</string>
                    <key>title</key>
                    <string>POKEMON GO EEVEE EVOLUTION!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>AbJA2DnzS0U</string>
                    <key>title</key>
                    <string>Pokemon GO Gameplay - EGG HATCHING And GYARADOS HUNT!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>WNXapNtNTZw</string>
                    <key>title</key>
                    <string>My Pokémon GO Stream</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>eHFLAXIhtKc</string>
                    <key>title</key>
                    <string>POKEMON GO IS EVERYWHERE!!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>GLOjoUNakTo</string>
                    <key>title</key>
                    <string>POKEMON EN LA PLAYA! Pokemon GO - [LuzuGames]</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>GU8gREocaFc</string>
                    <key>title</key>
                    <string>POKEMON GO AT THE BEACH!</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>IW9QFl8acpQ</string>
                    <key>title</key>
                    <string>CHEEKY POKEMON CAPTURE! - Pokemon GO App - SECRET POKEMON GO TRICKS!! (Pokemon Go Gameplay Part 2)</string>
                </dict>
                <dict>
                    <key>id</key>
                    <string>Y1vQkYYzFMM</string>
                    <key>title</key>
                    <string>POKEMON GO IN REAL LIFE</string>
                </dict>
            </array>
        </dict>
	</array>
</dict>
</plist>
